<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="authUrl" value="https://your-base-url/oauth2/some-id/v1/authorize"/>
		<add key="clientId" value="your-client-id"/>
		<add key="redirectUrl" value="mention your redirect url which was configured during OKTA"/>
		<add key="scope" value="your mentioned scope"/>
		<add key="tokenUrl" value="https://your-base-url/oauth2/some-id/v1/token"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
